* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#like,
#comment,
#share {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.navlink .active::after {
  content: "";
  width: 120px;
  display: block;
  position: absolute;
  bottom: -18px;
  /* border-bottom: 3px solid hsl(214, 89%, 52%); */
  padding-bottom: 20px;
}
.reelsstories .active {
  color: #0d6efd !important;
  display: flex;
  justify-content: center;
}
.reelsstories .active::after {
  content: "";
  width: 220px;
  display: block;
  position: absolute;
  /* border-bottom: 3px solid hsl(214, 89%, 52%); */
  padding-bottom: 20px;
  margin-left: 38px;
  top: 111px;
}

#navLink {
  position: relative;
  display: flex;
  justify-content: center;
  color: #65676b;
  /* color: 3px solid hsl(214, 89%, 52%); */
  font-size: 25px;
}
.active {
  color: hsl(214, 89%, 52%) !important;
  /* background: red; */
}
.navIcons {
  height: 34px;
  width: 34px;
  padding: 8px;
  border-radius: 50%;
}
.nav {
  z-index: 1000;
  background: #fff;
}
.border-shortcut {
  width: 335px;
  border-bottom: 1px solid #000;
}
.shortcut {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  top: 80px;
  width: 25%;
}
.marketsettin {
  position: fixed;
  overflow-y: auto;
  bottom: 0;

  top: 80px;
}
.reButtons {
  border: none;
  background: none;
  color: #000;
  display: flex;
  gap: 10px;
  align-items: center;
}
#profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0d6efd;
  padding: 4px;
}
#story {
  overflow-x: hidden;
}
.owl-dots,
.owl-nav {
  display: none;
}
#inp input {
  width: 36em;
  border-radius: 20px;
}
#add {
  color: white !important;
}
.likeIcon {
  font-size: 23px;
}
.shareIcon {
  font-size: 23px;
}
.commentIcon {
  font-size: 18px;
}
.marketSettingCol {
  cursor: pointer;
  padding: 5px 0px;
}
.marketSettingCol:hover {
  background: rgb(226, 225, 225);
  transition: 0.5s;
}
.marketLocation {
  color: hsl(214, 89%, 52%);
}
.gamesIcon {
  font-size: 20px;
}
.gameCol {
  padding: 5px 10px;
  cursor: pointer;
}
.gameCol:hover {
  background: rgb(225, 225, 225);
  transition: 0.3s;
}
.shortcutsImg{
  height:30px;
  width:30px;
  border-radius: 50%;
}