* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#like,
#comment,
#share {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.active::after {
  content: "";
  width: 120px;
  display: block;
  position: absolute;
  bottom: -18px;
  border-bottom: 3px solid hsl(214, 89%, 52%);
  padding-bottom: 20px;
}

#navLink {
  position: relative;
  display: flex;
  justify-content: center;
  color: #65676b;
  /* color: 3px solid hsl(214, 89%, 52%); */
  font-size: 25px;
}
.active {
  color: hsl(214, 89%, 52%) !important;
  /* background: red; */
}
.navIcons {
  height: 34px;
  width: 34px;
  padding: 8px;
  border-radius: 50%;
}
.nav {
  z-index: 1000;
  background: #fff;
}
